.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  text-align: center;
}

.card {
  box-sizing: content-box;
  padding: 2em 4em 2em 4em ;
}

.cardContainer {
  padding: 1em 5em 2em 5em ;
}
