
table {
  width: 100%;
}

.tableContainer {
  margin: 2em;
}

.searchContainer {
  width: 100%;
  background-color: lightgray;
  padding: 1em 2em 1em 2em ;
}

.searchText {
  font-size: x-large;
}

.searchBar {
  width: 60%;
}

.tableRow {
  cursor: pointer;
}

.tableRow:hover {
  background-color: darken($color: #555454af, $amount: 0);
}
